<h1><%=user.username%></h1>

<%if (currentUser) {%>
    <%////////////////////    If user    ////////////////////////%>
    
    <% if (currentUser._id.equals(user._id)) {%>
        <%user.friendRequests.forEach(u => {%>
            <div>
                <%=u.username%>
                <form action="/users/<%=u.username%>/accept-friend-request" method="POST">
                    <input type="hidden" name="friendID" value='<%=u._id%>'>
                    <input type="submit" value="Accept Friend Request">
                </form>
            </div>
        <%})%>
    <%} else {%>
        <%////////////////////    If not user    ////////////////////////%>
        <% if (user.followers.some(follower => follower._id.equals(currentUser._id))) {%>
            <form action="/users/<%=user.username%>/unfollow-user" method="POST">
                <input type="hidden" name="userID" value='<%=user._id%>'>
                <input type="submit" value="Unfollow User">
            </form>
        <%} else {%>
            <form action="/users/<%=user.username%>/follow-user" method="POST">
                <input type="hidden" name="userID" value='<%=user._id%>'>
                <input type="submit" value="Follow User">
            </form>
        <%}%>

    <%}%>
     
    
    <%////////////////////    If not user, not users friends, not requested to be friends    ////////////////////////%>
    <% if (!currentUser._id.equals(user._id) &&!user.friendRequests.some(u => u._id.equals(currentUser._id))) {%>
        <% if (!user.friends.some(u => u._id.equals(currentUser._id))) {%>
            <form action="/users/<%=user.username%>/request-friend" method="POST">
                <input type="hidden" name="userID" value='<%=user._id%>'>
                <input type="submit" value="Add Friend+">
            </form>
        <%} else {%>
            <form action="/users/<%=user.username%>/unfriend" method="POST">
                <input type="hidden" name="userID" value='<%=user._id%>'>
                <input type="submit" value="Unfriend">
            </form>
        <%}%>
    <%}%>
<%}%>
