<h2><%=post.authorID.username%></h2>
<h2><%=post.title%></h2>
<h2><%=post.body%></h2>


<div>
    <a href=<%='/posts/enrich-post/'+post.id%>>Enrich</a>
    <%=post.enrichment%></br>
</div>
<%if (currentUser) {%>
    <%if (post.authorID._id.equals(currentUser._id)) {%>
    <div>
        <form action="/posts/<%=post.id%>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    <%}%>
<% } %>


<form action="/comments/new" method="POST">
    <input name="commentBody" id="commentBody" type="text-field" placeholder="Add your thoughts"/>
    <input name="postID" type="hidden" value="<%=post._id%>">
    <button type="submit">Comment</button>
</form>
