<%if (post.community) {%>
    <h3>Community: <%=post.community.name%> - <%=post.communityTopic%></h3>

<%}%>
<h2><%=post.authorID.username%></h2>
<h2><%=post.title%></h2>
<h2><%=post.body%></h2>

<div>
    <a href=<%='/posts/enrich-post/'+post.id%>>Enrich</a>
    <%=post.enrichment%></br>
</div>

<!--If there is a currentUser-->
<%if (currentUser) {%>
    <%if (post.authorID._id.equals(currentUser._id)) {%>
        <div>
            <form action="/posts/<%=post.id%>/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
    <%}%>

    <%if (currentUser.savedPosts.some(p => p._id.equals(post._id))) {%>
        <div>
            <form action="/posts/<%=post.id%>/save-post" method="POST">
                <button type="submit">Unsave Post</button>
            </form>
        </div>
    <%} else {%>
        <div>
            <form action="/posts/<%=post.id%>/save-post" method="POST">
                <button type="submit">Save Post</button>
            </form>
        </div>
    <%}%>

<!--If there is not a currentUser-->
<% } else {%>

<%}%>


<form action="/comments/new" method="POST">
    <input name="commentBody" id="commentBody" type="text-field" placeholder="Add your thoughts"/>
    <input name="postID" type="hidden" value="<%=post._id%>">
    <button type="submit">Comment</button>
</form>

<%post.comments.forEach(comment => {%>
    <div>
        <%- include('../partials/comment-partial.ejs') %>
        <%=comment.commentBody%>
        <%=comment.commentAuthor.username%>
        <%if (currentUser) {%>
            <%if (comment.commentAuthor._id.equals(currentUser._id) || post.authorID.equals(currentUser._id)) {%>
                <form action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
                    <input type='hidden' name='postID' value='<%=post._id%>'>
                    <input type="submit" value="Delete Comment">
                </form>
            <%}%>
        <%}%>
    </div>

<%})%>
